# top level gitignore

# macOs related
.DS_Store

# vim
*.swp

# qcow2 drivers
*.qcow2

# configurations
*.conf

# logs
*.log

# lsp
compile_commands.json

# build folders
build/
/src/hw/pciemu/pciemu_hw.h
